<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390061464139-4nrplhgj4opsl01p92h8gpbtrciraoin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390061464139-4nrplhgj4opsl01p92h8gpbtrciraoin</string>
	<key>API_KEY</key>
	<string>AIzaSyD2NqtUOzl18v2a0weGdPHNlc0zNiz54LA</string>
	<key>GCM_SENDER_ID</key>
	<string>390061464139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perebasfc</string>
	<key>PROJECT_ID</key>
	<string>perebasfc-3f3ca</string>
	<key>STORAGE_BUCKET</key>
	<string>perebasfc-3f3ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:390061464139:ios:5fe7d9b17bfe6123118bce</string>
</dict>
</plist>
